<div class="main">
    <div class="container">
        <h2 class="main-title">Рекомендации для вас</h2>
        <ul class="ads-list">
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
            <app-ad-card></app-ad-card>
        </ul>
    </div>
</div>