.btn-categories {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  column-gap: 8px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  color: #3b82f6;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  &:hover {
    background-color: rgba(59, 131, 246, 0.041);
    transition: all 0.2s ease;
  }
}

.list-nested-icon path {
  transition: all 0.3s ease;
}

::ng-deep {
  .p-button {
    font-family: Inter, sans-serif;
  }
  .p-popover {
    width: 100%;
    left: 0 !important;
  }
  .p-popover::after,
  .p-popover::before {
    display: none;
  }

  [role='dialog'] {
    border: none !important;
    top: 124.75px !important;
  }

  .p-panelmenu-panel {
    border: 0;
    padding: 0;
  }

  .p-panelmenu-header-link {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .p-panelmenu-header-link span {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .p-panelmenu-item-link {
    justify-content: start;
  }

  .p-panelmenu-item-link span {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .p-panelmenu-panel:last-child,
  .p-panelmenu-panel:first-child,
  .p-panelmenu-panel {
    border: 0 !important;
  }
}

.categories-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 306px;
  border: none;
}
